@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media query manager

/*
    0-600 px        : Phone
    600 - 900 px    : Tablet portrait
    900 - 1200 px   : Tablet landscape
    1800 ++         : Big desktop

    (1200 - 1800) is where our normal style apply
*/

// @mixin respond-phone {
//     @media (max-width: 600px) {
//         @content;
//     }
// }

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            // 600px
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            // 900px
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            // 1200px
            @content;
        }
    }
    @if $breakpoint == big-desk {
        @media only screen and (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}
