*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem == 10px in here,  10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200px
        font-size: 56.25%; // 1rem should be 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        // width < 600px
        font-size: 50%; // 1rem should be 8px, 8/16 = 50%
    }

    @include respond(big-desk) {
        font-size: 75%; //1rem should be 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}