body {
    font-family: 'Lato', Sans-Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

    &--main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 2.5s;
    }
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;

        animation: moveInRight 2.5s ease-out;

        /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
        /*
  animation-delay: 2s;
  animation-iteration-count: 3; 
  */
    }
}
