.u-center-text {
    text-align: center !important;

    &-md {
        @include respond(tab-port) {
            text-align: center !important;
        }
    }
    &-sm {
        @include respond(phone) {
            text-align: center !important;
        }
    }
    &-lg {
        @include respond(tab-land) {
            text-align: center !important;
        }
    }
}

.u-margin-bottom {
    &-small {
        margin-bottom: 1.5rem !important;
    }
    &-medium {
        margin-bottom: 4rem !important;
        @include respond(tab-port) {
            margin-bottom: 3rem !important;
        }
    }
    &-big {
        margin-bottom: 8rem !important;

        @include respond(tab-port) {
            margin-bottom: 5rem !important;
        }
    }
}

.u-margin-top {
    &-big {
        margin-top: 8rem !important;
    }

    &-huge {
        margin-top: 10rem !important;
    }
}
